/target/
/examples-kafka/target/
/examples-spark/target/
/examples-flink (copy)/target/
/examples-beam/target/
/spark/target/
/flink/target/
/beam/target/
/hive/target/
/logs
.idea/*
*.iml
*/.idea/*

# MacOS
.DS_Store
