{{ define "main" }}
<main>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-EKVXL1ZK2D"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-EKVXL1ZK2D');
  </script>

  <div class="homepage">
        <div class="row">
            <div class="col-sm-12">
                <h1>
                        <span class="minor_line">Python, PySpark, Spark, TensorFlow, Scikit-Learn, PyTorch</span>
                        <br>
                    <span class="major_line">Feature Store Notebooks</span>
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 blurb">
              <p>This page contains example notebooks for Feature Engineering, Feature Ingestion, Feature Selection/Joining, Training Dataset Creating,	Model Training, and Model Serving on Hopsworks.</p>
            </div>
        </div>


        <div class="row" id="hsfs">
            <div class="col-sm-12">
                <h3 class="category_header">The Feature Store API: hsfs</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header" id="colab_example">Try now on Colab</h4>
                    <div class="card-body">
		      <!-- <img src="/featurestore/images/colab-64px.png" alt="Colab" width="64" height="64"> -->
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/featurestore/gcp/").ByTitle }}
                            <li>
                              <a href="https://colab.research.google.com/github/logicalclocks/hops-examples/blob/master/notebooks/featurestore/gcp/colab.ipynb">
			      Run example in Google Colab
                              </a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header" id="hsfs_basics">Create your first Features</h4>
                    <div class="card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/featurestore/hsfs/basics/").ByTitle }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header" id="hsfs_time_travel">Time-Travel</h4>
                    <div class="card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/featurestore/hsfs/time_travel/").ByTitle }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" id="aws">
            <div class="col-sm-12">
                <h3 class="category_header">AWS and the Feature Store</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header" id="redshift_pyspark">Redshift and S3 Feature Ingestion</h4>
                    <div class="card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/featurestore/aws/redshift/").ByTitle }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header" id="image_petastore">Elastic, Hive, Kafka, and Spark</h4>
                    <div class="card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/spark/").ByTitle }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                            {{ range (where .Pages "File.Dir" "in" "/kafka/").ByTitle }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                            {{ range (where .Pages "File.Dir" "in" "/hive/").ByTitle }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="connectors">
            <div class="col-sm-12">
                <h3 class="category_header">Snowflake ingestion into Feature Store</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header" id="snowflake_pyspark">Snowflake ingestion to the Feature Store</h4>
                    <div class="card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/featurestore/hsfs/snowflake/").ByTitle }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="ml-fs">
            <div class="col-sm-12">
                <h3 class="category_header">Model Training on Hopsworks</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header" id="tf-dist-training">Distributed Training (TensorFlow)</h4>
                    <div class="card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/ml/Distributed_Training/mirrored_strategy/").ByTitle }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                            {{ range (where .Pages "File.Dir" "in" "/ml/Distributed_Training/multiworker_mirrored_strategy/").ByTitle }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" id="ml-fs">
            <div class="col-sm-12">
                <h3 class="category_header">Model Serving on Hopsworks</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header" id="inference">Inferencing (Model Serving)</h4>
                    <div class="card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/ml/Inference/").ByTitle }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header" id="model-serving-kserve">Model Serving with KServe</h4>
                    <div class="card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/ml/serving/kserve/tensorflow/").ByTitle }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                            {{ range (where .Pages "File.Dir" "in" "/ml/serving/kserve/sklearn/").ByTitle }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                            {{ range (where .Pages "File.Dir" "in" "/ml/serving/kserve/python/").ByTitle }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <h4 class="card-header" id="model-serving-docker-k8s">Model Serving with Docker or Kubernetes</h4>
                    <div class="card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/ml/serving/docker_and_kubernetes/tensorflow/").ByTitle }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                            {{ range (where .Pages "File.Dir" "in" "/ml/serving/docker_and_kubernetes/python/").ByTitle }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>




        <div class="row" id="ml-fs">
            <div class="col-sm-12">
                <h3 class="category_header">End-to-end Examples</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <!-- <h4 class="card-header" id="e2e">End-to-End Examples</h4> -->
                    <div class="card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/ml/end_to_end_pipeline/sklearn/").ByTitle }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                            {{ range (where .Pages "File.Dir" "in" "/ml/end_to_end_pipeline/tensorflow/").ByTitle }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>




        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header" id="bench">Benchmarks</h4>
                    <div class="card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/ml/Benchmarks/").ByTitle }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
{{ end }}
